.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    height:250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    gap: 10px;
  }
  
  .card-item {
    margin-bottom: 10px;
  }
  
  .card-button {
    display: flex;
    justify-content: center;
  }
  
  .card-button button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  